header{
    font-family: Bitter;
    background-color: blueviolet;
}

h1, h2, h3{
    font-family: Bitter;
}

header{
    text-align: center;
}

.navBar{
    background-color: red;
}

body{
    font-family: League Spartan;
    margin: 0;
}
footer{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: medium;
    text-align: center;
    background-color: #a4dcfd;
}
nav{
    display: flex;
    justify-content: space-around;
}

